.collapse.show {
    background-color: rgb(193, 215, 226);
    animation: fadeBackground 6s;
    animation-fill-mode: forwards;
    font-style: italic;
}

@keyframes fadeBackground {
    from { background-color: white; }
    to { background-color: rgb(158, 215, 190); }
  }